header{
    width: 1200px;
    margin: auto;
}
.meidum{
    width: 1200px;
    background-color: #CCC;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.meidum img{
    width: 150px;
}
.meidum a{
    width: 150px;
    color: black;
    text-decoration: none;
}
.dope{
    display: flex;
    background-color: #00142d;
    color: aliceblue;
    justify-content: space-around;
    width: 1200px;
}
.breaking{
    text-align: center;
    background-color: #fff;
    width: 1200px;
}
.dope2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1200px;
}
.dope2.pic img{
    width: 600px;
    display: flex;
}
.col{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}
.can{
    width: 240px;
    padding: 5px;
}
.meidum2{
    text-align: center;
    background-color: #CCC;
    width: 1200px;
}
.breaking2{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 1200px;
}
.col2{
    flex-wrap: wrap;
    width: 320px;
    padding: 40px;
}
.col2 p {
    text-align: left;
} 
.test{
    text-align: center;
    width: 1200px;
}
.test span{
    color: blue;
}
.test2{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: space-around;
}
.test2 div img{
    width: 180px;
    height: 180px;
    justify-content: center;
    padding: 30px;
}
.end{
    width: 1200px;
}
.solo{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 10px;
}
.battle{
    width:500px;
}
.picc img{
    width: 690px;
}
footer{
    width: 1200px;
    margin: auto;
}
.battle p{
    margin-top: 60px;
}
.end2{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    background-color: #00142d;
    justify-content: space-around;
}
.end2 div{
    justify-content: space-around;
    color: #fff;
    width: 600px;
}
.footer-list{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    background-color: #00142d;
    color: #fff;
    justify-content: space-between;
}
.footer-list h3{
    width: 150px;
    padding: 10px;
}
.footer-list p{
    width: 150px;
    padding: 10px;
    color: #ccc; ;
}
